.App {
  padding: 20px;
  border: 1px solid black;
  margin: 20px auto;
  width: 450px;
}

.btn {
  margin-top: 10px;
  width: 100px;
  background-color: cadetblue;
  color: white;
}

.message-container {
  padding: 3px 12px;
  background-color: cadetblue;
  border: 1px solid teal;
  margin-bottom: 10px;
}
.danger {
  background-color: red;
}
.message {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
